<%- include('../partials/header.ejs')  %>
    <h2>View Product:</h2>
    <table>
    <tr>
        <td>Name</td>
        <td>Type</td>
        <td>Price</td>
    </tr>
    <tr>
        <td><%= name %></td>
        <td><%= type %></td>
        <td><%= price %></td>
    </tr>
</table>
<%- include('../partials/footer.ejs')  %>
